table 
{
  border-collapse: collapse;
  border: 2px dotted green;
}


th, td
{
    border: 2px dotted green;
}


tbody tr 
{
    background-color: yellow;
}


tbody tr:nth-child(odd) td 
{
    background-color: #e0f0ff;
}


tbody tr:hover td 
{
    color: red;
    font-weight: bold;
}

