table, tr, td ,th
{
    border: 1px dotted ;
    border-collapse: collapse;
    border-color: rgb(103, 128, 238);
}


tr td:nth-last-child(3), td:last-child
{
    background-color: rgb(16, 76, 87);
}


#gyakorlat
{
    background-color: rgb(15, 46, 66);
}


button:has(+p)
{
    background-color: rgb(48, 155, 255);
    align-content: center;
}


#gyakorlat:has(+a:hover) button
{
    color: rgb(2, 75, 75);
}


tr:not(:has(td[rowspan]))+tr:not(:has(td[rowspan])):hover td
{
    background-color: rgb(59, 194, 149);
}


tr:has(td[rowspan]):hover td
{
    background-color: rgb(23, 114, 114);
}


tr:has(td[rowspan]):hover +tr td
{
    background-color: rgb(3, 134, 134);
}


tr:has(td[rowspan])+tr:hover td
{
    background-color: rgb(34, 85, 85);
}


tr:has(td[rowspan]) + tr:hover td
{
    background-color: rgb(206, 13, 13);
}